<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="css/default.css" >
    <title>{{OAUTH_TYPE}} for HCL Notes Setup</title>

</head>

<body>
    <div id="divlocation" class="display-none visibility-hidden">{{LOCATION}}</div>
    <div class="container">
        <div class="row">
            <header id="masterHeader" class="dark master-header dark-master">
                <div id="header-topbar" class="header-topbar">
                    <div id="drawer-overlay" class="sidedrawer-wrapper"></div>
                    <div class="container header-container">
                        <div class="row">
                            <div class="col col-xs-6 text-left">
                                <a href="https://www.hcltech.com/" target="_blank" class="logo-hcl">
                                    <img src="${hclLogo}"
                                        class="img-responsive" />
                                </a>
                            </div>
                            <div class="col col-xs-6 text-right">
                                <a href="https://www.hcltech.com/" target="_blank" class="logo-hcl-tech">HCL
                                    TECHNOLOGIES</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container header-container">
                    <div class="logo-brand">
                        <a href="https://www.hcltechsw.com/">
                            <img src="${hclLogo2}" alt="HCL Logo" border="" title=""
                                class="img-responsive" />
                        </a>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <!-- start: Banner -->
    <!-- banner-section -->
    <section class="banner-section domino-ui-banner ">

         <div class="container">
            <div class="row">
                <style>
                    .product-logo-scrolled {
                        position: relative;
                        top: -10px;
                    }
                </style>
                <div class="col-lg-4 col-md-3 col-xs-6 col-sm-3">
                    <div class="product-logo">
                        <a href="https://hcltechsw.com/wps/portal/products/domino/home">
                            <span class="hide-regular">
                                <img src="${dominoImage}"
                                    class="img-responsive">
                            </span>
                            <br /><br />
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6 mt-50 col-text ">
                    <h1 class="bold text-white banner-title">
                        ${dominoHeading}
                    </h1>

                    <h4 class="text-white">
						                <p dir="ltr">${dominoTagLine}</p>
                    </h4>

                </div>

            </div>
        </div>
    </section>
    <!-- /.banner-section -->
    <!-- end: Banner -->
    <!-- start: main-section -->
    <section class="section text-center" style="background: #f6f6f6; padding: 24px 0">
        <div class="container">
            <div class="row">
                <h3 class="bold title text-black">
                    <p dir="ltr">{{OAUTH_TYPE}}: Copy the following value to your Notes Client</p>
                    <h3>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-50 text-left">
                    <label dir="ltr" class="label" for="refreshToken">Copy into "Refresh Token"</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-50 text-left code" style="padding-right: 10px">
                    <span class="refreshToken" id="refreshToken">{{REFRESH_TOKEN}}</span>
                </div>
            </div>
        </div>
    </section>

    <div class="py-3 border-top">
  <div class="container">

    <div class="row footer" style="font-size:0.8em">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            DOMI ${project.version} &copy; HCL Software 2021
          </li>
        </ul>
      </div>


      <div class="col-sm text-right">
        <p><a href="https://www.hcltechsw.com/wps/portal/legal/privacy">Privacy</a> &bull; <a href="https://www.hcltechsw.com/wps/portal/legal/terms-use">Terms of Use</a></p>
      </div>

    </div>

  </div>

    <!-- end: main-section -->

    <!-- rem out script
    <script>
        $(function () {
            $('<button class="btn btn-copy btn-sm" type="button" style="float:right">Copy</button>').prependTo(".code").click(function (e) {
                var ta = document.createElement('textarea');
                ta.value = $(this).next()[0].innerText;
                ta.style.position = 'absolute';
                ta.style.left = '-3000px';
                document.body.appendChild(ta);
                ta.select();
                document.execCommand('copy');
                document.body.removeChild(ta);
                $(this).text("Copied!");
                var self = $(this);
                setTimeout(function () {
                    self.text("Copy");
                }, 3000)
            })
        });
        $(window).on('load', function() {
        	window.history.pushState('data', '', '{{LOCATION}}');
        });
    </script>
  -->

  <button id="btncopy" class="btn btn-copy btn-sm float-right" type="button">Copy</button>

</body>

</html>
